{% extends 'dash/base.html' %}
{% load static %}
{% block link %}
<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ders-programi' %}">Ders Programı</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dersler' %}">Canlı Dersler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'odev' %}">Ödevler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sinav:main_view' %}">Sınavlar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sonuc' %}">Sınav Sonuçları</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'duyuru' %}">Duyurular</a>
    </li>
  </ul>
</div>
{% endblock link %}
{% block content %}
{% for d in duyuru %}
    <div class="card mb-2">
        <div class="card-header">
        {{ d.konu }}
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ d.icerik }}</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        </div>
    </div>
{% endfor %}
{% endblock content %}