{% extends 'dash/base.html' %}
{% block link %}
<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ders-programi' %}">Ders Programı</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dersler' %}">Canlı Dersler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'odev' %}">Ödevler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sinav:main_view' %}">Sınavlar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sonuc' %}">Sınav Sonuçları</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'duyuru' %}">Duyurular</a>
    </li>
  </ul>
</div>
{% endblock link %}
{% block content %}
<div style="align-items: center;">
    <a href="{% url 'odev-yukle' %}"><button type="button" class="btn btn-outline-primary btn-lg btn-block mb-2">Ödev Yükle</button></a>
</div>
<div class="list-group">
    {% for o in obj %}
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ o.ders }}</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">{{ o.konu }}</p>
      <small>
      </small>
    </a>
    {% endfor %}
  </div>
{% endblock content %}