{% extends 'dash/base.html' %}
{% block link %}
<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#">Ders Programı</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Dersler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Ödevler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Sınavlar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sınav Sonuçları</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Duyurular</a>
    </li>
  </ul>
</div>
{% endblock link %}
{% block content %}
<div class="list-group">
    <div class="card text-center mt-2">
        <div class="card-header">Matematik Sınavı</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional content.
          </p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
        <div class="card-footer text-muted">2 days ago</div>
      </div>
      <div class="card text-center mt-2">
        <div class="card-header">Fizik Sınavı</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">2 days ago</div>
      </div>
      <div class="card text-center mt-2">
        <div class="card-header">Kimya Sınavı</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">2 days ago</div>
      </div>
      <div class="card text-center mt-2">
        <div class="card-header">Kimya Sınavı</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">2 days ago</div>
      </div>
      <div class="card text-center mt-2">
        <div class="card-header">Kimya Sınavı</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">2 days ago</div>
      </div>
  </div>
{% endblock content %}