{% extends 'dash/base.html' %}
{% load static %}
{% block link %}
<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ders-programi' %}">Ders Programı</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dersler' %}">Canlı Dersler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'odev' %}">Ödevler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'sinav:main_view' %}">Sınavlar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sonuc' %}">Sınav Sonuçları</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'duyuru' %}">Duyurular</a>
    </li>
  </ul>
</div>
{% endblock link %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'sinav/abc.js' %}" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  
  <!-- Modal -->
  <div class="modal fade" id="quizStartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sınavınız Başlıyor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body-confirm">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
          <button type="button" class="btn btn-primary" id="start-button">Başla</button>
        </div>
      </div>
    </div>
  </div>

    

<div class="list-group">
  {% for obj in obj1 %}
  <div class="card text-center mt-2">
      <div class="card-header">{{ obj.name }} Sınavı</div>
      <div class="card-body">
        <h5 class="card-title">{{ obj.topic }}</h5>
        <p class="card-text">
          <b>Soru sayısı:</b> {{obj.soru_sayisi}} <br>
          <b>Sınav süresi:</b> {{obj.time}}
        </p>
        
          <button
          class="btn modal-button btn-primary"
          data-pk="{{obj.pk}}"
          data-quiz="{{obj.name}}"
          data-question="{{obj.soru_sayisi}}"
          data-time="{{obj.time}}"
          data-toggle="modal"
          data-target="#quizStartModal">
          Başlamak için tıklayınız
          </button>
      </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
    {% endfor %}
  </div>
</body>
</html>
{% endblock content %}